---
layout: layouts/base.njk
title: About
description: About me — product designer, systems thinker.
permalink: /about/ 
---
<div class="l-wrapper">
  <section class="about-intro">
    <p class="section-label">About</p>
    <h1 class="about-intro__headline">
      I design digital products that are highly functional and beautiful
    </h1>
    <div class="about-intro__body">
      <div class="about-intro prose">
        <p>I am a product designer and design technologist with a passion for user focused digital products that are highly functional and beautifully designed.</p>

        <p>My current job is Senior Designer for Booz | Allen | Hamilton where I currently support the USPS as a Senior Product Designer.</p>

        <p>Prior to that I was the digital director for the global humanitarian aid organization - Catholic Relief Services - where I built and led the team that managed front and back end development, online fundraising & branding, user experience, information architecture, and email marketing.</p>

        <p>I have been a designer and maker of digital products for over 26 years but really I have been a designer and maker of things my whole life. I started crafting objects as a young teenager. First finely crafted leather goods and then later hand made pottery. I spent 19 years making and selling functional stoneware pottery to the American Crafts Marketplace.</p>

        <p>I am also an avid home cook and sourdough bread baker.</p>
        
      </div>
      <div class="about-intro__photo">
        <img src="/assets/images/pdk-about-photo.jpg" alt="Peter Kaizer" width="800" height="800" />
      </div>
    </div>
  </section>
</div>
