---
layout: layouts/base.njk
title: About
description: About me — product designer, systems thinker.
permalink: /about/ 
---
<div class="l-wrapper">
  <section class="about-intro">
    <p class="section-label">About</p>
    <h1 class="about-intro__headline">
      I design digital products that are highly functional and beautiful
    </h1>
    <div class="about-intro__body">
      <div class="about-intro prose">
        <p>I am a product designer and design technologist with a passion for user focused digital products that are highly functional and beautifully designed.</p>

        <p>My current job is Senior Designer for Booz | Allen | Hamilton where I currently support the USPS as a Senior Product Designer.</>

        <p>Prior to that I was the digital director for the global humanitarian aid organization - Catholic Relief Services - where I built and led the team that managed front and back end development, online fundraising & branding, user experience, information architecture, and email marketing.</>

        <p>I have been a designer and maker of digital products for over 22 years but really I have been a designer and maker of things my whole life. I started crafting objects as a young teenager. First finely crafted leather goods and then later hand made pottery. I spent 19 years making and selling functional stoneware pottery to the American Crafts Marketplace.</p>

        <p>I am also an avid home cook and sourdough bread baker.</p>

        <h2>About this site</h2>

        <p>This is my personal web space, where I post about technology, design and food, along with other things that catch my eye. None of the views expressed on this site or any of my personal social networks reflect the opinion of my employers or any of my freelance clients. They are my opinions alone.</p>

        <h3>Publishing</h3>

        <p>This site is built and published using the <a href="https://www.11ty.io/">11ty</a> - <a href="https://jamstack.org/">static site generator</a> using an <a href="https://www.apple.com/mac/">Apple MAC computer</a>. The site is served on the <a href="https://jamstack.org/">JAMstack<a> for free by <a href="https://www.netlify.com/">Netlify</a> and secured via <a href="https://en.wikipedia.org/wiki/HTTPS">https</a> thanks to a free certificate from <a href="https://letsencrypt.org/">Let's Encrypt</a>.</p>

         <h3>Design & Typography</h3>

        <p>The site is typset in <a href="https://en.wikipedia.org/wiki/Source_Sans_Pro">Source Sans Pro</a> and <a href="https://medium.com/@manahabibian/playfair-display-a-typographic-specimen-b311856700bd">Playfair Display</a> served from <a href="https://fonts.google.com/">Google Fonts</a>.</p>

         <h3>Coding and code</h3>

        <p>My current coding editor of choice is <a href="https://code.visualstudio.com/">Visual Studio Code</a>. All the <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a> is written in modern CSS and takes advantage of CSS Grid for layout.</p>
        
      </div>
      <div class="about-intro__photo">
        <img src="/assets/images/pdk-about-photo.jpg" alt="Peter Kaizer" width="800" height="800" />
      </div>
    </div>
  </section>
</div>
